.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.5fr 0.4fr;
    grid-template-areas:
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar left right right"
        "footer footer footer footer";
    height: 100vh;
}

nav {
    grid-area: nav;
    background: tomato;
}

main {
    grid-area: main;
    background-color: aqua;
}

#sidebar {
    grid-area: sidebar;
    background-color: blue;
}

#left {
    grid-area: left;
    background-color: blueviolet;
}

#right {
    grid-area: right;
    background-color: chartreuse;
}

footer {
    grid-area: footer;
    background-color: darkcyan;
}