body {
    margin: 10px;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: ghostwhite;
}

ul li a {
    display: block;
    padding: 20px 50px;
    text-decoration: none;
}

ul li a:hover {
    background-color: lightgreen;
}

ul li a.active {
    background-color: green;
}